.text_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem
}

.text_container h1{
    text-align: center;
    font-size: 2.7rem;
    text-transform: uppercase;
}
.text_container h2{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--main-accent);
}

.tec_container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:.5rem;
}
.tec_container p{
    font-weight: 500;
}

.tec_container span{
   background-color: var(--text-color);
   width: 1px;
   height: 18px;
}

.but_container{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.but_container button {
    padding: 0 2rem;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: 50px;
    height: 55px;
    cursor: pointer;
    background-color: transparent;
    border: 2.5px solid var(--text-color);
    font-size:1rem;
    transition: .5s ;
}
.but_container button a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size:1rem;
}

.but_container button:hover {
    /* transform: scale(1.05); */
    color: var(--main-accent);
    border-color: var(--main-accent);
}