.layoutSocial{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.layoutSocial .social{
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    display: none;
}
.layoutSocial .social a{
    background-color: var(--smallBubbleBbg);
    border:var(--smallBubbleBorder);
    border-radius: 50%;
    height: 40px;
    justify-content: center;
    margin: .25rem 0;
    transition: all .3s ease-in-out;
    width: 40px;
    align-items: center;
    display: flex;
}

.layoutSocial .social a:hover {
    background-color: var(--main-accent);
    border-color: var(--main-accent);
  }

.layoutSocial .social a svg{
    color: var(--smallBubbleSvgColor);
    height: 15px;
    width: 15px;
}
.layoutSocial .social a:hover svg{
    color:white
}
.layoutSocial .scroll{
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.layoutSocial .scroll .navDot{
    background-color: var(--navBG);
    border-radius: 50%;
    height: 10px;
    margin: .5rem;
    transition: background-color .2s ease-in-out;
    width: 10px;
}

.layoutSocial .scroll .active{
    background-color: var(--main-accent)
}
@media (min-width:560px){
    .layoutSocial .social, .layoutSocial .scroll{
        display: flex;
    }
}