.section{
    width: 100%;
    height: fit-content;
    padding: 4rem 2rem;
}
.section .headText{
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--main-font);
}

.section .headText span{
    color: var(--main-accent);
}

.section .filtro{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0 2rem;
}

.section .filtro .filterItem{
    background-color: #fff;
    border-radius: .5rem;
    color: #000;
    cursor: pointer;
    font-weight: 800;
    margin: .5rem;
    padding: .5rem 1rem;
    font-size: .8rem;
    line-height: 1.5;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: center;
}

.section .filtro .active, .section .filtro .filterItem:hover{
    background-color: var(--main-accent);
    color: #fff;
}

.porfolioGallery{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolioItem{
    background-color: var(--card-color);
    border-radius: .5rem;
    cursor: pointer;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 270px;
}

.portfolioItem:hover{
    box-shadow: 0 0 25px var(--shadow-color);
}

.portfolioItem__Img{
    position: relative;
}

.portfolioItem__Img img{
    border-radius: .5rem;
    object-fit: cover;
}

.linksLay{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    border-radius: .5rem;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;
    width: 100%;
    opacity: 0;
}

.linksLay a{
    color: #000;
    cursor: pointer;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    height: 50px;
    margin: 1rem;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linksLay a svg{
    color: var(--white-color);
    height: 50%;
    width: 50%;
}

.textos{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    position: relative;
    width: 100%;
    
}

.textos a{
    line-height: 1.5;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    font-family: "DM Sans", sans-serif;
}
.textos p{
    margin-top: 10px;
    color: var(--gray-color);
    font-size: .8rem;
    line-height: 1.5;
    text-align: left;
    font-family: "DM Sans", sans-serif;
}

.tag{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: .5rem 1rem;
    position: absolute;
    top: -25px;
}

.tag p{
    margin: 0;
    font-family: "DM Sans", sans-serif;
}